---
permalink: /
layout: base
title: Derek Leung
---
<link rel="stylesheet" href="/assets/css/home.css">

<header>
  <h1 id="header-text">
    Readable, precise, elegant.
  </h1>
  <span id="subheader-text">
    That’s how code should be<span class="end-mark" aria-hidden="true"></span>
  </span>
</header>

<main>
  <dl>
    <div>
      <dt> GitHub </dt>
      <dd class="link-container">
        <span class="link-arrow"></span>
        {% include link.html name="@derek1906" url="https://github.com/derek1906" %}
      </dd>
    </div>
    <div>
      <dt> StackOverflow </dt>
      <dd class="link-container">
        <span class="link-arrow"></span>
        {% include link.html name="@Derek朕會功夫" url="https://stackoverflow.com/users/283863" %}
      </dd>
    </div>
    <div>
      <dt> Electronic mail </dt>
      <dd class="link-container">
        <span class="link-arrow"></span>
        {% include link.html name="contact@derek-leung.com" url="mailto:contact@derek-leung.com" %}
      </dd>
    </div>
    <div>
      <dt> Works </dt>
      <dd class="link-container">
        <span class="link-arrow"></span>
        {% include link.html name="Works" url="/works" %}
      </dd>
    </div>
  </dl>
</main>
