@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Joan&display=swap');

:root {
  --palette-1: #0D1821;
  --palette-2: #344966;
  --palette-3: #B4CDED;
  --palette-4: #F0F4EF;
  --palette-5: #BFCC94;

  --background-color: var(--palette-1);
  --font-color: var(--palette-4);
}

html {
  min-height: 100vh;
  display: flex;
}

body {
  margin: 0;
  padding: 32px;
  flex: 1;

  background: var(--background-color);
  background-image: url("./resources/background.svg");
  background-attachment: fixed;
  background-size: cover;
  
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header {
  font-family: 'Joan', serif;
}

#header-text {
  margin: 0 0 8px;

  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 5px rgba(255, 255, 255, 0.05);
}

#subheader-text {
  font-size: 1.5rem;
}

main {
  font-size: 1rem;
  font-family: 'Fira Code', monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.link-arrow::before {
  content: "->";
  opacity: 0.35;
  font-weight: normal;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.link {
  position: relative;

  color: var(--font-color);
  outline: 0px solid var(--font-color);
  text-decoration: none;

  transition: color 0.2s ease-out, outline-width 0.1s ease-out;
}

.link::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  background: var(--font-color);
  transition: height 0.2s ease-out;
  z-index: -1;
}

.link-container:hover .link, .link-container:focus-within .link {
  color: var(--background-color);
}

.link-container:hover .link::after, .link-container:focus-within .link::after {
  height: 100%;
}

.link-container:hover .link-arrow::before, .link-container:focus-within .link-arrow::before {
  transform: translateX(3px);
  opacity: 1;
}

.link:hover {
  outline-width: 3px;
}

footer {
  font-family: 'Joan', serif;
}

@media (min-width: 720px) {
  main {
    font-size: 1.5rem;
  }
}