body {
  margin: 0 auto;
  padding: 16px;
  flex: 1;
  max-width: 1024px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

header {
  font-family: 'Joan', serif;
  border-bottom: 1px solid var(--font-color);
  padding: 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#header-text, #back-button {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
}

#subheader-text {
  font-size: 0.9rem;
  font-style: italic;
}

#header-text-container {
  display: flex;
  flex-direction: row;
}

#back-button-container {
  overflow: hidden;

  max-width: 0;
  opacity: 0;
  border-right: 0px solid var(--font-color);

  transition: all 0.2s ease;
}

#back-button {
  white-space: nowrap;
}

header:hover #back-button-container, header:focus-within #back-button-container {
  max-width: 100%;
  opacity: 1;
  margin-right: 8px;
  padding-right: 8px;
  border-right-width: 1px;
}

#header-text {
  transition: color 0.2s ease;
}

header:hover #header-text {
  opacity: 0.7;
}

main {
  padding: 10px 0px;
  font-size: 1rem;
  font-family: sans-serif;
}

h2 {
  color: var(--background-color);
  font-size: 1.5rem;
  font-weight: 300;

  position: relative;

  display: inline-block;
  padding: 0px 10px;
}

h2::before {
  content: "";
  background-color: var(--font-color);
  box-shadow: 5px 5px rgba(255, 255, 255, 0.3);

  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  transform: skewX(-15deg) translateX(-10px);
}

footer {
  font-family: 'Joan', serif;
}

@media (min-width: 720px) {
  header {
    flex-direction: row;
    align-items: flex-end;
  }
}