body {
  margin: 0;
  padding: 32px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

header {
  font-family: 'Joan', serif;
}

#header-text {
  margin: 0 0 8px;

  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 5px rgba(255, 255, 255, 0.05);
}

#subheader-text {
  font-size: 1.5rem;
}

main {
  font-size: 1rem;
  font-family: 'Fira Code', monospace;
}

main dl, main dt, main dd {
  margin: 0;
  padding: 0;
}

main dl > div {
  padding-bottom: 1rem;
}

main dl > div:last-of-type {
  padding-bottom: 0;
}

main dt {
  font-weight: bold;
}

dl::before, dl::after, dt::before, dt::after, dd::before, dd::after {
  opacity: 0.35;
  font-weight: normal;
}

footer {
  font-family: 'Joan', serif;
}

.end-mark::before {
  content: ";";
  width: 1rem;
  height: 1rem;

  margin-left: 1rem;

  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  color: var(--background-color);
  background: var(--font-color);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 460px) {
  main dl > div dd, main dl > div dt {
    padding-left: 32px;
  }

  dt:hover, dd:hover, dd:focus-within {
    background-color: rgba(255, 255, 255, 0.05);
  }

  dl::before {
    content: "<dl>";
    display: block;
  }
  
  dl::after {
    content: "</dl>";
    display: block;
  }
  
  dt::before {
    content: "<dt>";
  }
  
  dt::after {
    content: "</dt>";
  }
  
  dd::before {
    content: "<dd>";
  }
  
  dd::after {
    content: "</dd>";
  }
}


@media (min-width: 720px) {
  #header-text {
    font-size: 5rem;
  }

  body {
    gap: 100px;
  }

  main {
    font-size: 1.5rem;
  }
}