html {
  min-height: 100vh;
  display: flex;
}

body {
  margin: 0;
  padding: 32px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header {
  font-family: 'Joan', serif;
}

#header-text {
  margin: 0 0 8px;

  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 5px rgba(255, 255, 255, 0.05);
}

#subheader-text {
  font-size: 1.5rem;
}

main {
  font-size: 1rem;
  font-family: 'Fira Code', monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer {
  font-family: 'Joan', serif;
}

@media (min-width: 720px) {
  main {
    font-size: 1.5rem;
  }
}