@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Joan&display=swap');

:root {
  --palette-1: #0D1821;
  --palette-2: #344966;
  --palette-3: #B4CDED;
  --palette-4: #F0F4EF;
  --palette-5: #BFCC94;

  --background-color: var(--palette-1);
  --font-color: var(--palette-4);
}

html {
  min-height: 100vh;
  display: flex;
}

body {
  max-width: 100%;
  box-sizing: border-box;
  
  background: var(--background-color);
  background-image: url("/assets/images/background.svg");
  background-attachment: fixed;
  background-size: cover;
  
  color: var(--font-color);
}

footer {
  align-self: center;
  
  margin-top: 32px;
  padding: 16px;
  max-width: 100%;
  width: 300px;
  border-top: 1px solid var(--font-color);
  box-sizing: border-box;

  font-family: 'Joan', serif;
  text-align: center;
}

.link {
  position: relative;

  color: var(--font-color);
  outline: 0px solid var(--font-color);
  text-decoration: none;

  transition: color 0.2s ease-out, outline-width 0.1s ease-out;
}

.link::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  background: var(--font-color);
  transition: height 0.2s ease-out;
  z-index: -1;
}

.link:hover::after, .link:focus::after {
  height: 100%;
}

.link:hover, .link:focus {
  color: var(--background-color);
}

.external.link::before {
  content: "⇗ ";
}

.link-arrow::before {
  content: "->";
  opacity: 0.35;
  font-weight: normal;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.link-container:hover .link, .link-container:focus-within .link {
  color: var(--background-color);
}

.link-container:hover .link::after, .link-container:focus-within .link::after {
  height: 100%;
}

.link-container:hover .link-arrow::before, .link-container:focus-within .link-arrow::before {
  transform: translateX(3px);
  opacity: 1;
}

.link-container .link:hover {
  outline-width: 3px;
}